# Ignore node_modules
node_modules

# Ignore logs
*.log
npm-debug.log*

# Ignore build output
dist/
build/

# Ignore TypeScript cache
*.tsbuildinfo

# Ignore environment files (if used)
.env
node_modules/
